.manga-read {
  padding: 20px;
  background-color: #141414;
  color: white;
}

.manga-read h1 {
  font-size: 2em;
  color: #e50914;
  text-align: center;
}

.chapter-select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.chapter-detail {
  margin-top: 20px;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

.chapter-detail h2 {
  font-size: 1.5em;
  color: #e50914;
  text-align: center;
}

.chapter-pages {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.chapter-page {
  flex: 0 0 auto;
  width: 100%;
  max-width: 800px;
  margin-right: 20px;
  scroll-snap-align: center;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.navigation-buttons button {
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.navigation-buttons button:disabled {
  background-color: #555;
  cursor: not-allowed;
}
