.sidebar {
  display: flex;
  justify-content: space-around;
  background-color: #141414;
  padding: 10px 0;
  position: fixed;
  width: 99.1%;
  top: 0;
  z-index: 1000;
  margin: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2em;
  padding: 10px 15px;
}

.sidebar a.active {
  background-color: #e50914;
  border-radius: 5px;
}
